.button-normal {
    cursor: pointer;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 12px 16px;
      display: flex;
    }
    
    .button-normal-style {
      border-radius: 6px;
      background: var(--blue-normal, #3529dc);
      color: var(--neutral-0, #fff);
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.4px;
    }
    
    .button-normal-style:hover {
      border-radius: 6px;
      background: var(--blue-dark, #1101bd);
    }
    
    .button-normal-secondary-style {
      align-items: center;
      border-radius: 6px;
      border: 1.2px solid var(--blue-normal, #3529dc);
      color: var(--blue-normal, #3529dc);
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.4px;
    }
    
    .button-normal-secondary-style:hover {
      border-radius: 6px;
      background: var(--blue-dark, #1d01bd);
    }
    
    .button-normal-ghost {
      border-radius: 6px;
    }
    
    .button-normal-ghost-style {
      align-items: center;
      color: var(--blue-normal, #3529dc);
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.4px;
    }
    
    .button-normal-ghost-style:hover {
      color: var(--blue-dark, #3901bd);
    }
    